@font-face {
  font-family: Avenir;
  src: local(fonts), 
    url(/Avenir-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
* {
  font-family: Avenir;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  font-family: Avenir;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}
/**********************************Section-article*****************************************/

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 42px;
  row-gap: 42px;
  width: 92%;
  margin-left: 72px;
  margin-top: 68px;
}
.conteneur-grid {
  width: 300px;
  height: 346px;
}

.img-grid {
  width: 300px;
  height: 257px;
  margin-bottom: 0px;
}
.p-grid {
  width: 300px;
  height: 89px;
  margin-top: -3px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(44, 44, 44);
}
.product-name {
  width: 191px;
  padding-top: 10px;
  padding-left: 10px;
}
.product-name em {
  font-size: 10px;
  color: dimgrey;
}
.panier1 {
  margin-left: 30px;
}

/********************Pagination******************************/

.pagination a {
  text-decoration: none;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.pagination li :hover {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
.pagination li a :active {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
.pagination {
  list-style: none;
  display: flex;
  margin-left: 10px;
  margin-top: 80px;
}
.pagination li {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
}
